<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Subscription Thank You</title>
</head>
<body>
    <div id="container">
        <div class="content">
        <header>
            <img class="logo" src="./logo.png" alt="logo">
        </header>
        <p class="user-name">Hi <% userName %>,</p>
        <p>Thank you for subscribing to <%= subscriptionName %> plan!</p>
        <p>You can enjoy our <%= subscriptionName %> benefits now.</p>

        <p>Best regards,</p>
            <p>The Plugbay Team.</p>
            <div class="horizontal-line"></div>
            <!-- <div > -->
                <ul class="playstore-apple-icons">
                    <li>
                        <a href="https://plugbay.com">
                            <img class="apple-icons" src="./apple-store-icon.png" alt="apple store icon" />
                        </a>
                    </li>
                    <li>
                        <a href="https://plugbay.com">
                            <img class="google-play-icon" src="./google-play-icon.png" alt="google play icon">
                        </a>
                    </li>
                </ul>
            <!-- </div> -->
            <div class="horizontal-line"></div>

    </div>
    <p class="sub-footer">
        &copy; 2023 Plugbay. All rights reserved.
    </p>
    <footer>
<ul class="footer-list">
    <li>
        <a href="http://">Privacy policy</a>
    </li>
    <li>
        <a href="http://">Terms of service</a>
    </li>
    <li>
        <a href="http://">Help center</a>
    </li>
    <li>
        <a href="http://">Unsubscribe</a>
    </li>
</ul>
    </footer>
            </div>
</body>
</html>
