<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>IMPORTANT: Your Plugbay Subscription Has Expired!</title>
</head>
<body class="font-poppins">
    <div id="container" class="flex flex-col justify-between h-screen p-10">
        <div class="content text-gray-800 font-normal text-base leading-6 p-30">
        <header>
            <img style="width: 135px; height: 45px;" class="logo" src="https://res.cloudinary.com/dyacfa943/image/upload/v1698663748/Plugbay_logo_imknem.png" alt="logo">
        </header>
        <p class="mt-5 text-gray-800 font-normal text-base leading-6 pt-30 pb-5">Hi <%= userName %>,</p>
        <div>
            <p>
                We hope this message finds you well. As a valued member of the Plugbay community, we want to inform you that your <%= subscriptionName %> subscription has to expired. 
            </p>
            <p>

            <h2 class="font-bold pt-2"> Renew Your Plugbay Subscription </h2>
            
            Renewing your Plugbay subscription ensures that you continue to benefit from all the fantastic features that make your experience exceptional:
            </p>
            <ol class="list-decimal">
                <li>
                    Enhanced Visibility: Stand out in search results and category pages, making it easier for users to discover and connect with your business.
                </li>
                <li>
                    Streamlined Transactions: Enjoy the convenience of managing transactions directly on Plugbay, from receiving orders to processing payments seamlessly.
                </li>
                <li>
                    Tailored Business Templates: Access industry-specific templates designed to meet the unique needs of your business, whether you're in hospitality, retail, or services.
                </li>
                <li>
                    Community Engagement: Participate in Plugbay's vibrant community, where users can leave reviews, ask questions, and build a network around your business.
                </li>
            </ol>
            
            <h2 class="font-bold pt-2"> Your Subscription in a Few Easy Steps:</h2>

            <ol class="list-decimal">
<li>Log In: Sign in to your Plugbay Account.</li>
<li>Visit Subscription: Navigate to the "Subscription" section.</li>
<li>Choose Your Plan: Select the plan that aligns with your business needs.</li>
<li>Confirm: Complete the subscription renewal process.</li>
            </ol>
            
            <p class="pt-3">
            <strong>Exclusive Renewal Offer: Limited Time Only!</strong>
            
            As a token of our appreciation, we're offering you an exclusive renewal discount of (discount)% off your next subscription term. This special offer is valid until (date), so be sure to renew before then.
            
            Don't miss out on the opportunity to maintain uninterrupted access to the full suite of Plugbay features. Renew your subscription today, and keep enjoying the benefits of being a part of the Plugbay community.
            </p>
        <p class="pt-3 font-bold">Best regards,</p>
        <p class="pb-3 font-bold">The Plugbay Team.</p>
        <div class="h-1 bg-gray-300 w-full"></div>
        <!-- <div > -->
            <ul class="flex justify-center items-center">
                <li>
                    <a href="https://plugbay.com">
                        <img class="w-20 sm:w-24 md:w-32 lg:w-40 h-auto" src="https://res.cloudinary.com/dyacfa943/image/upload/v1703082289/apple-store-icon_sacq8y.png" alt="apple store icon" />
                    </a>
                </li>
                <li>
                    <a href="https://plugbay.com">
                        <img class="w-20 sm:w-24 md:w-32 lg:w-40 h-auto" src="https://res.cloudinary.com/dyacfa943/image/upload/v1703082262/google-play-icon_l0y1np.png" alt="google play icon">
                    </a>
                </li>
            </ul>
        <!-- </div> -->
        <div class="h-1 bg-gray-300 w-full"></div>

</div>
<footer class="text-center mt-5">
    <p class="sub-footer text-gray-800 font-normal text-xs leading-normal mb-5">&copy; 2024 Plugbay. All rights reserved.</p>
  <ul class="footer-list flex flex-wrap justify-center underline text-xs leading-normal text-gray-700">
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://starfish-app-t3xdy.ondigitalocean.app/en/privacy">Privacy policy</a>
    </li>
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://plugbay.com">Terms of service</a>
    </li>
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://plugbay.com">Help center</a>
    </li>
    <li class="mb-2">
      <a href="https://plugbay.com">Unsubscribe</a>
    </li>
  </ul>
</footer> 
        </div>
</body>
</html>