<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Congratulations on Upgrading Your Subscription Plan! 🎉</title>
</head>

<body class="font-poppins">
    <div id="container" class="flex flex-col justify-between h-screen p-10">
        <div class="content text-gray-800 font-normal text-base leading-6 p-30">
        <header>
            <img  style="width: 135px; height: 45px;" class="logo" src="https://res.cloudinary.com/dyacfa943/image/upload/v1698663748/Plugbay_logo_imknem.png" alt="logo">
        </header>
        <p class="mt-5 pb-4 text-gray-800 font-normal text-base leading-6 pt-30">Hi <%= userName %>,</p>
        <p>We're thrilled to inform you that your Plugbay subscription has been successfully upgraded to the <%= subscriptionName %>! 🚀
        </p>
        <p>
            This means you now have access to a host of enhanced features and tools that will take your business on Plugbay to new heights.
        
            
            <!-- What You Can Expect:
            
            - (Feature 1)
            - (Feature 2)
            - (Feature 3)
            - ... -->
            
            
            
        </p>
        <p>We're confident that these additions will make your Plugbay experience even more rewarding.</p>
        <p>If you have any questions or need assistance navigating your upgraded plan, feel free to reach out to our dedicated support team.</p>
        
        <p>Thank you for choosing Plugbay to power your business journey. We're excited to see the incredible things you'll achieve with your upgraded plan.</p>
        <p class="pt-3"><b>Best regards,</b></p>
        <p class="pb-3"><b>The Plugbay Team.</b></p>
    </div>
        <div class="h-1 bg-gray-300 w-full"></div>
        <!-- <div > -->
            <ul class="flex justify-center items-center">
                <li class="mr-4">
                    <a href="https://plugbay.com">
                        <img class="w-20 sm:w-24 md:w-32 lg:w-40 h-auto" src="https://res.cloudinary.com/dyacfa943/image/upload/v1703082289/apple-store-icon_sacq8y.png" alt="apple store icon" />
                    </a>
                </li>
                <li>
                    <a href="https://plugbay.com">
                        <img class="w-20 sm:w-24 md:w-32 lg:w-40 h-auto" src="https://res.cloudinary.com/dyacfa943/image/upload/v1703082262/google-play-icon_l0y1np.png" alt="google play icon">
                    </a>
                </li>
            </ul>
        <!-- </div> -->
        <div class="h-1 bg-gray-300 w-full"></div>

<footer class="text-center">
    <p class="sub-footer text-gray-800 font-normal text-xs leading-normal mb-5">&copy; 2024 Plugbay. All rights reserved.</p>
  <ul class="footer-list flex flex-wrap justify-center underline text-xs leading-normal text-gray-700">
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://starfish-app-t3xdy.ondigitalocean.app/en/privacy">Privacy policy</a>
    </li>
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://plugbay.com">Terms of service</a>
    </li>
    <li class="lg:mr-5 md:mr-5 mr-5 mb-2">
      <a href="https://plugbay.com">Help center</a>
    </li>
    <li class="mb-2">
      <a href="https://plugbay.com">Unsubscribe</a>
    </li>
  </ul>
</footer> 
        </div>
</body>

</html>